body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    bg-[#eeeaea]
  }
  
  .form-radio:checked {
    border-color: #e07a5f;
    background-color: #e07a5f;
  }
  
  .form-radio {
    border: 2px solid #e07a5f;
    background-color: transparent;
  }
  
  .text-primary {
    color: #e07a5f;
  }
  